extends layout

block content
  section.subheader.container
    p.
      Hi there! Welcome to #{title}. This is an example page mockup.
      Parts displayed: #{parts.length}
    //- TODO: remove
    br
  //- Example content
  section.container.productgrid
    .row
      //- For each part in parts array
      each part, i in parts
        //- First take care of clearfixes to make rows horizontal
        if (!(i % 4) && i!=0)
          .clearfix.visible-md.visible-lg
        else if (!(i % 3))
          .clearfix.visible-sm
        //- The actual product box
        .product.col-md-3.col-sm-4.col-xs-12
          //- Thumbnail makes for a nice box
          .thumbnail
            //- Part._id is MongoDB id
            img.img-responsive(src='/public/images/thumbnails/#{part._id}.gif')
            //- Wrap in div to be able to set padding easily
            .caption
              //- Make a link to the part page
              a(href='/part/#{part._id}')
                h1= part.title
                p.description= part.description
              //- Print tags nicely
              div
                each tag in part.tags
                  span.label.label-info= tag